* { /*Универсальный селектор (для всех элементов на странице)*/
	font-family: helvetica, arial, sans-serif; /*Подключаем шрифты*/
}

p, h1 { /*Селектор по названию тега*/
    color: red;
    font-size: 24px; 
}
/*Селектор по классу --------- (Для резницы между классами)*/
p.paragraph {
	color: green;
}

.wrap { 
	color: red;
}
/*End------------*/

#heading {/*-------Селектор по id------------*/
	font-size: 45px;
}
/*можно добавить название тега перед названием класса или id, 
тогда селлектор будет применяться к элементу с опрделенным классом|id. 
Например, p.wrap или h1#heading*/
a[href="http://google.com.ua"]{/*-------Селектор по атрибуту------------*/
	color: purple;
}

a[href="https://www.yandex.ua/"] {
	color: pink;
}
.container h3 { /*Div класса container в параграфе. Т.е. Применяеются стили для всего контейнера*/
	background: blue; /*Синий цвет для всех параграфов в контейнере*/
}

.container > p { /*Дочерний через >. Дочерний смотрит только на первого ребенка*/
	text-decoration: line-through;
}

#heading + span { /*Сестринский span*/
	color: yellow;
}

a:hover { /*Псевдокласс*/
	text-decoration: none; /*почеркивание при наведении на ссылку исчезает*/
}

h1::first-letter { /*Псевдоэлемент. Меняем первую букву, а именно - цвет.*/
	color: #d2d2d2;
}